<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Animated Login Design #02 | AsmrProg</title>
</head>

<body>

<div class="container">
  <div class="recovery-section">
    <header>Recovery Password</header>

    <span class="information">Enter your email address and we will send you a link to reset your password.</span>

    <form>

      <input type="email" placeholder="Email address" required>

      <div class="buttons">
        <button type="submit">
          Recovery
        </button>
        <button routerLink="/login">
          <img width="24" height="24" src="https://img.icons8.com/material-two-tone/24/back--v1.png" alt="back--v1"/>
          Login
        </button>
      </div>

    </form>

  </div>
</div>

</body>


