<!DOCTYPE html>
<html>
<head>
  <title>Animated Login Form</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="assets/images/img/wave.jpg">
<div class="container">
  <div class="img">
    <img src="assets/images/img/bg.png">
  </div>
  <div class="login-content">
    <div>
      <p>Esta es una plataforma en línea dedicada a brindar acceso de apuntes universitarios de alta calidad. Los estudiantes pueden subir, descargar y colaborar en la mejora de apuntes en diversas materias. La plataforma cuenta con un sistema de búsqueda avanzada, revisiones de calidad y una comunidad que contribuye a su crecimiento.</p>
    </div>
    <button class="btn">Login</button>
  </div>
</div>
</body>
</html>
