<!DOCTYPE html>
<html>
<head>
  <title>Animated Login Form</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<img class="wave" src="../../../assets/images/img/wave.jpg">
<div class="container">

  <div class="left">
    <img src="../../../assets/images/img/bg.png" alt="">
  </div>

  <div class="rigth">
    <h2>UPB Docs</h2>

    <div class="content">
      <br><br>
        <span>Esta es una plataforma en línea dedicada a brindar acceso de apuntes universitarios de alta calidad.<br>
        Los estudiantes pueden subir, descargar y colaborar en la mejora de apuntes en diversas materias.<br>
        La plataforma cuenta con un sistema de búsqueda avanzada, revisiones de calidad y una comunidad <br>
        que contribuye a su crecimiento.</span>

      <br><br>
      </div>

      <div class="btn-container" routerLink="/login">
        <button class="btn">Login</button>
      </div>
  </div>

</div>
</body>
</html>
