
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a{
  text-decoration: none;
}

body{
  margin:40px 0;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  position: relative;
  width: 460px;
  height: 640px;
  border-radius: 12px;
  padding: 20px 30px 120px;
  background: #303f9f;
  box-shadow: 2px 5px 10px #000000;
  overflow: hidden;

}

.recovery-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recovery-section header{
  font-size: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  padding: 30px 0;
}

.recovery-section span{
  color: #fff
}

.container form{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}

form input{
  outline: none;
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  color: #333;
  font-weight: 400;
  border-radius: 8px;
  background: #fff;
}

form a{
  color: #333;
}

.recovery-section form a{
  color: #fff;
}

form .btn{
  margin-top: 45px;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}


form .btnreturt{
  margin-top: 45px;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;


}


.container.active .recovery-section header{
  opacity: 0.6;
}


.buttons{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;


  button{
    width: 100%;
    padding: 10px;
    background: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
  }
}
